[flake8]
max-line-length = 100
; Creating issue with black and E203 and E712 not compatible
; TODO: remove C901 from ignored when we have time for refactoring
ignore = D203,W503,E203,E712,C901,E231
exclude = .git,__pycache__,docs/source/conf.py,old,build,dist,venv
max-complexity = 10
per-file-ignores =
    test_*.py:E501
    # line too long
    table2sql/main.py: E501,
